//==================== Chat-UI font sizes starts here=======================//

$heading-fs: 1.6rem;
$title-fs: 1.5rem;
$sub-title-fs: 1.4rem;
$small-title-fs: 1.3rem;

//==================== Chat-UI font sizes ends here=======================//

//==================== Chat-UI colors starts here=======================//

$call-btn-color: #fc5d5b;

//==================== Chat-UI colors ends here=======================//
